@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

.noDisplay {
  display: none;
}

/*scrollbar -- start*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d3d3d3;
}

::-webkit-scrollbar-thumb {
  background: #CE1126;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*scrollbar -- end*/

body {
  background-color: #191919;
  color: #d3d3d3;
  font-family: Inter;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
}

/*Intro Board -- start*/

.intro-board {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #191919;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.intro-settings {
  width: 30%;
  display: flex;
  position: absolute;
  top: 10%;
  right: 0;
  background-color: #00BCD4;
}

.intro-settings .settings-block {
  width: 50%;
  height: 25%;
}

.intro-settings .settings-block:nth-child(2) {
  border-left: 5px solid #191919;
  border-right: 5px solid #191919;
}

.intro-board .settings-btn-block {
  width: 15%;
}

.intro-board . settings-btn-bubble {
  width: 35%;
}

.intro-board .settings-icon {
  padding: 5% 0;
}

.intro-content {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  height: 75%;
}

.intro-block {
  width: 40%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.intro-block-title {
  font-size: 2em;
  text-align: start;
  width: 60%;
  margin: 5% 0;
  color: #00BCD4;
  font-weight: bold;
}

.intro-block-txt {
  font-size: 1.5em;
  text-align: justify;
}

.intro-btn-block {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  align-items: center;
  margin: 0 0 5%;
}

.intro-react {
  border: 5px solid #30CA00;
  color: #30CA00;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1.5em;
  height: 100%;
}

.intro-picture {
  width: 15%;
  border: 5px solid #F3EA2A;
  border-radius: 1em;
}

.intro-btn {
  background-color: rgba(0,0,0,0);
  border: 5px solid #CE1126;
  color: #CE1126;
  height: 40%;
  width: 20%;
  font-size: 2em;
  font-weight: bold;
  border-radius: 1em;
  transition: linear 0.25s;
}

.intro-btn:hover {
  background-color: #CE1126;
  color: #191919;
}

/*Intro Board -- end*/

.left-side, .right-side {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.nav, .footer, .settings {
  height: 15%;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #00BCD4;
  color: #191919;
  border-bottom: 5px solid #CE1126;
  font-size: 3em;
  font-family: Jura;
  font-weight: bold;
}

.nav-btn-block {
  width: 7.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav-button {
  width: 75%;
  background-color: rgba(0,0,0,0);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: linear 0.25s
}

.nav-button:hover {
  transform: scale(1.25);
}

/*Settings -- start*/

.settings {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: #00BCD4;
  border-bottom: #CE1126 solid 5px;
}

.settings-block {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.settings-block:nth-child(2) {
  border-left: 5px solid #CE1126;
  border-right: 5px solid #CE1126;
}

.settings-return-btn {
  width: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0);
  border: none;
  transition: linear 0.25s
}

.settings-return-btn:hover {
  transform: scale(1.25)
}

.settings-icon {
  width: 15%;
}

.settings-btn-block {
  width: 12.5%;
  height: 20px;
  padding: 1%;
  background-color: #191919;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.settings-btn-bubble {
  width: 35%;
  background-color: #00BCD4;
  height: 75%;
  border-radius: 1rem;
}

/*Settings -- end*/

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 5px solid #CE1126;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5%;
}

.footer-icon {
  width: 100%;
  transition: linear 0.25s
}

.footer-icon:hover {
  transform: scale(1.25);
}

.pro, .perso{
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-evenly;
  position: relative;
}

.pro {
  border-right: 5px solid #CE1126;
  top: 100%;
}

.perso {
  border-left: 5px solid #CE1126;
  bottom: 100%;
}

.pro-title, .perso-title {
  font-size: 2em;
  color: #30CA00;
  font-family: Jura;
  font-weight: bold;
}

.pro-content, .perso-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 75%;
  position: relative;
  z-index: 0;
}

.index-cross {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 32.5%;
}

.index-cross-part {
  width: 75%;
  height: 5px;
  background-color: #F3EA2A;
}

.index-cross-vertical {
  transform: rotate(90deg);
}

.index-block {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 65%;
  height: 80%;
  cursor: pointer;
  transition: linear 0.25s;
}

.index-block-title {
  width: 65%;
  font-size: 1.5em;
  color: #00BCD4;
  transition: linear 0.25s;
}

.index-block-icon {
  width: 30%;
}

.index-block:hover {
  border-color: #00BCD4;
}

.index-block:hover .index-block-icon {
  animation: spin 2s infinite linear;
}

.index-block:hover .index-block-title {
  color: #F3EA2A;
}

@keyframes spin {
  0% {
    transform: rotateY(0)
  }

  50% {
    transform: rotateY(180deg)
  }

  100% {
    transform: rotateY(0)
  }
}

.about, .travel, .hobby, .bonus {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid #CE1126;
  height: 85%;
  font-size: 1em
}

/*Block-title -- start*/

.block-title {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  color: #30CA00;
  font-family: Jura;
  font-weight: bold;
  font-size: 2em;
  margin-top: 2.5%;
  height: 7.5%;
}

.block-title-return-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0);
  border: none;
  position: absolute;
  left: 5%;
  top: -15%;
  width: 7.5%;
  transition: linear 0.25s
}

.block-title-return-btn:hover {
  transform: scale(1.25)
}

/*Block-title -- end*/

/*Block-nav -- start*/

.block-nav {
  width: 100%;
  border-top: 5px solid #CE1126;
  display: flex;
  height: 7.5%;
}

.block-nav-btn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 1em;
  color: #CE1126;
}

.block-nav-btn-center {
  border-left: 5px solid;
  border-right: 5px solid;
}

.block-nav-txt {
  width: 50%;
}

.block-nav-btn:hover {
  background-color: #CE1126;
  color: lightgrey;
  border-color: #CE1126;
}

/*Block-nav -- end*/

/*Realisation -- start*/

.realisations {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 5px solid #CE1126;
  height: 85%;
  font-size: 1em;
  opacity: 0;
}

.realisation-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1em;
  color: #00BCD4;
  width: 100%;
  height: 80%;
}

.project {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.project-txt {
  font-size: 1.25em;
  color: #00BCD4;
  text-decoration: none;
}

.project-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}

.project-icon {
  width: 10%;
}

/*Realisation -- end*/

/*Competences -- start*/

.skills {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 5px solid #CE1126;
  height: 85%;
  font-size: 1em
}

.languages-block, .environment-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 35%;
}

.skills-title {
  font-size: 1.25em;
  color: #00BCD4;
  margin-bottom: 2.5%;
}

.languages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 75%;
  align-items: center;
  justify-content: center;
  height: 75%;
  position: relative;
}

.environment {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  position: relative;
}

.lang-block {
  width: 50%;
  align-self: center;
  justify-self: center;
}

.env-block {
  width: 10%;
  align-self: center;
  justify-self: center;
}


.lang-icon, .env-icon {
  width: 100%;
  align-self: center;
  justify-self: center;
  transition: 0.25s linear;
}

.lang-bubble, .env-bubble {
  display: none;
  flex-direction: column;
  width: 35%;
  position: absolute;
  background-color: whitesmoke;
  color: #191919;
  border: 5px solid #CE1126;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 2.5%;
}

.env-bubble {
  top: -125%;
  width: 45%;
}

.lang-bubble-title, .env-bubble-title {
  font-size: 1.25em;
  color: #00BCD4;
  margin: 0 0 2.5%;
}

.lang-bubble-txt, .env-bubble-txt {
  color: #191919;
  white-space: nowrap;
}

.lang-bubble-content, .env-bubble-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 90%;
}

.lang-icon:hover, .env-icon:hover {
  transform: scale(1.25);
}

.lang-block:hover .lang-bubble, .env-block:hover .env-bubble {
  display: flex;
}

/*Compétences -- end*/

/*Parcours Académique -- start*/

.parcours-acad {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 5px solid #CE1126;
  height: 85%;
  font-size: 1em
}

.study-title {
  font-size: 1.25em;
  color: #00BCD4;
  margin-bottom: 2.5%;
}

/*Parcours Académique -- end*/

/*Parcours Professionnel -- start*/

.parcours-pro {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 5px solid #CE1126;
  height: 85%;
  font-size: 1em
}

.work-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 65%;
  white-space: nowrap;
  padding: 7.5% 0 0;
  width: 90%;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 3.5% 0 0;
}

.work p {
  white-space: break-spaces;
}

.work-title-block {
  font-size: 1.25em;
  color: #00BCD4;
}

/*Parcours Professionnel -- end*/

/*Voyages -- start*/

.travel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75%;
}

.travel-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}

.travel-cover-img {
  width: 12.5%;
  border-radius: 1em;
  transition: linear 0.25s;
  cursor: pointer;
}

.travel-cover-img:hover {
  opacity: 0.5;
}

.travel-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: justify;
  width: 60%;
  height: 100%;
}

.travel-title {
  color: #00BCD4;
  font-size: 1.25em;
}

.travel-txt {
  height: 50%;
}

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
  display: none;
  justify-content: center;
  align-items: center;
}

.gallery-container {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
}

.gallery-icon {
  display: flex;
  justify-self: center;
  align-self: center;
  transition: 0.25s linear;
  width: 25%;
}

.gallery-icon:hover {
  transform: scale(1.25);
}

.close-gallery {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 5%;
  cursor: pointer;
  transition: 0.25s linear;
}

.close-gallery:hover {
  transform: scale(1.25);
}

.photo-block {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  justify-self: center;
  align-self: center;
}

.photo-title {
  font-size: 1.5em;
  color: #F3EA2A;
  font-weight: bold;
  margin: 5% 0 0;
}

.photo {
  height: 100%;
  margin: 2.5% 0;
}

/*Voyages -- end*/

/*A propos -- start*/

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 75%;
}

.about-intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.about-img {
  width: 20%;
  border-radius: 50%;
  border: 5px solid #CE1126;
}

.about-intro-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.25em;
  width: 65%;
}

.about-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0 0 5%;
}

.about-title {
  font-size: 1.25em;
  color: #00BCD4;
}

.about-txt {
  text-align: justify;
}

/*A propos -- end*/

/*Bonus -- start*/

.bonus-container {
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}

.bonus-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 45%;
}

.bonus-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}

.bonus-title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  color: #00BCD4;
  font-size: 1.25em;
  text-align: left;
  margin: 0 0 2.5%;
}

.bonus-link {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bonus-img {
  width: 100%;
}

/*Bonus -- end*/

/* Phone wide responsive design -- start*/


.light-mode {
  background-color: whitesmoke;
  color: #191919;
}

.light-mode .lang-bubble {
  background-color: #191919;
}

.light-mode .lang-bubble-txt {
  color: lightgrey;
}

.light-mode .env-bubble {
  background-color: #191919;
}

.light-mode .env-bubble-txt {
  color: lightgrey;
}

.light-mode .intro-board .settings-block {
  border-color: whitesmoke;
}

@media(max-width: 850px) {
  .nav{
    font-size: 1.5em;
  }

  .settings-btn-block {
    width: 25%;
  }

  .pro-title, .perso-title {
    font-size: 1em;
  }

  .index-block {
    width: 75%;
  }

  .index-block-title {
    font-size: 1em;
  }

  .block-title {
    margin-top: 2.5%;
    font-size: 1.25em;
  }

  .block-nav-btn {
    font-size: 0.75em;
  }

  .block-nav-txt {
    width: 75%;
  }

  .project-txt {
    font-size: 1em;
  }

  .block-nav {
    height: 10%;
  }

  .skills-title {
    font-size: 1em;
  }

  .lang-bubble {
    width: 75%;
    height: auto;
    padding: 5%;
    right: 7.5%;
  }

  .lang-bubble-title {
    font-size: 1em;
  }

  .lang-bubble-content {
    font-size: 0.75em;
  }

  .env-bubble {
    width: 75%;
    height: auto;
    padding: 5%;
    right: 7.5%;
  }

  .env-bubble-title {
    font-size: 1em;
  }

  .env-bubble-content {
    font-size: 0.75em;
  }

  .work-title-block {
    font-size: 1em;
  }

  .work {
    margin: 1.5% 0 0;
  }

  .work p {
    font-size: 0.75em;
  }

  .work-info {
    font-size: 0.75em;
  }

  .work-content {
    padding: 25% 0 0;
    margin: 5% 0;
  }

  .study {
    font-size: 0.75em;
  }

  .study-title {
    font-size: 1em;
  }

  .about-intro-content {
    font-size: 1em;
    width: 75%;
  }

  .about-title {
    font-size: 1em;
  }

  .about-txt {
    font-size: 0.5em;
  }

  .travel-title {
    font-size: 1em;
  }

  .travel-txt {
    font-size: 0.5em;
  }

  .photo-block {
    height: 65%;
  }

  .photo {
    height: 100%;
  }

  .bonus-title {
    font-size: 1em;
  }

  .bonus-link {
    width: 20%;
  }

}

/* Phone wide responsive design -- end*/

/* Phone portrait responsive design -- start*/

@media(max-width: 450px) {
  .main {
    flex-direction: column;
    height: 100%;
  }

  .left-side, .right-side {
    width: 100%;
  }

  .nav, .settings, .footer {
    height: 7.5vh;
  }

  .footer-link {
    width: 10%;
  }

  .pro {
    border-right: none;
    border-bottom: 5px solid #CE1126;
    height: 75vh
  }

  .perso {
    border-left: none;
    height: 75vh;
  }

  .index-cross {
    display: none;
  }

  .pro-title, .perso-title {
    font-size: 1.5em;
    margin: 5% 0 0;
  }

  .pro-content, .perso-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin: 5% 0;
  }


  .index-block {
    flex-direction: row;
    margin-bottom: 5%;
    position: relative;
    border-bottom: 5px solid #F3EA2A;
    border-left: 5px solid #F3EA2A;
  }

  .index-block:nth-child(5), .index-block:nth-child(3) {
    right: 5%;
  }

  .index-block:nth-child(2), .index-block:nth-child(4) {
    right: -5%;
  }

  .index-block-icon {
    width: 15%;
    padding: 5%;
  }

  .pro-block {
    height: 75vh;
    border-bottom: 5px solid #CE1126;
    border-right: none;
  }

  .block-title {
    font-size: 1.5em;
    margin: 5% 0 0;
  }

  .block-title-return-btn {
    top: 0;
  }

  .project-txt {
    font-size: 1.25em;
  }

  .project-icon {
    width: 15%;
  }

  .skills-title {
    font-size: 1.25em;
  }

  .lang-block {
    width: 75%;
  }

  .lang-bubble{
    right: 5%;
  }

  .env-bubble {
    top: -120%;
    right: 5%;
  }

  .env-block {
    width: 15%;
  }

  .work-content {
    padding: 0;
    margin: 0;
    height: 75%;
  }

  .study {
    font-size: 1em
  }

  .study-title {
    font-size: 1.25em;
  }

  .perso-block {
    height: 75vh;
    border-left: none;
  }

  .about-intro {
    flex-direction: column;
  }

  .about-intro-content {
    font-size: 1em;
    margin-top: 5%;
  }

  .about-title {
    font-size: 1.25em;
  }

  .about-txt {
    font-size: 0.75em;
  }

  .about-img {
    width: 35%;
  }

  .travel-block {
    width: 100%;
    height: 30%;
  }

  .travel-cover-img {
    width: 20%;
  }

  .travel-title {
    font-size: 1.25em;
  }

  .travel-txt {
    font-size: 0.75em;
  }

  .gallery-container {
    grid-template-rows: 6fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
  }

  .prev-icon {
    grid-area: 2 / 1 / 2 / 3;
    align-self: center;
    justify-self: center;
    width: 20%;
  }

  .next-icon {
    grid-area: 2 / 2 / 2 / 4;
    align-self: center;
    justify-self: center;
    width: 20%;
  }

  .photo-block {
    grid-area: 1 / 1 / 2 / 4;
    align-self: center;
    justify-self: center;
  }

  .close-gallery {
    width: 15%;
    top: 2.5%;
  }

  .bonus-link {
    width: 40%;
  }
}



/* Phone portrait responsive design -- end*/

@keyframes fadeaway {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideup {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes slidedown {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes slidebackup {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}

@keyframes slidebackdown {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}






